@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-circle {
  position: absolute;
  width: 2361px;
  height: 882.5px;
  top: -474px;
  left: -422px;
  background: linear-gradient(180deg, #642eff 53.54%, #4c0783 100%);
  border-bottom-left-radius: 70% 100%;
  border-bottom-right-radius: 60% 100%;
  z-index: 1;
}
.rectangle-wrapper {
  z-index: 2;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.25));
}
.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 761px;
  height: 582px;
  clip-path: polygon(85% 0, 100% 13%, 100% 100%, 13% 100%, 0 85%, 0 0);
  background: #ffff url("./img/heading-bg.png") no-repeat;
  background-size: 100% 100%;
  font-family: "Roboto", sans-serif;
}
.register-form {
  background-color: white;
  z-index: 4;
  width: 400px;
  height: 582px;
  padding: 60px;
}
.register-form h3 {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28.13px;
  text-align: left;
  margin-bottom: 40px;
}
.title {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: left;
}
.input-box {
  outline: none;
  border: 2px solid #bdbdbd;
  height: 30px;
  border-radius: 4px;
}
.detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.365);
  color: #ffffff;
  z-index: 4;
  width: 361px;
  height: 582px;
  padding: 100px 50px;
}
.detail h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 39.84px;
  text-align: left;
}
.numbered-list {
  font-size: 17px;
  font-weight: 400;
  line-height: 19.92px;
  text-align: left;
  list-style-type: none;
  counter-reset: item;
  padding: 14px;
}

.numbered-list li {
  display: flex;
  align-items: flex-start;
  counter-increment: item;
  margin-bottom: 8px;
}

.numbered-list li::before {
  content: counter(item) ".";
  width: 10px;
  text-align: right;
  margin-right: 8px;
}
.date-selector {
  display: flex;
  flex-direction: column;
}

.date-selector h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: left;
}
.date-selector h3 span {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  text-align: left;
}
.dob-box {
  display: flex;
}
select {
  appearance: none;
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 20%;
}
.radio-container {
  display: flex;
  flex-direction: column;
}
